<html>
  <head>
    <title>O'Reilly Introduction to WebRTC</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <p>Hello, WebRTC!</p>
    <!-- Video 영역 -->  
    <video id="myVideoTag" autoplay></video>
    <video id="theirVideoTag" autoplay></video>
    <div>
        <label>Your name</label><input id="myName" type="text" />
        <label>Message</label><input id="myMessage" type="text" />
        <input id="sendMessage" type="submit" />
        <div id="chatArea">Message Output:</br></div>
        <div id="signalingArea">Signaling Messages:</br></div>
    </div>

    <script type="text/javascript">
    	var myvideoArea = document.querySelector("#myVideoTag");
        var theirvideoArea = document.querySelector("#theirVideoTag");
        var myName = document.querySelector("#myName");
        var myMessage = document.querySelector("#myMessage");
        var sendMessage = document.querySelector("#sendMessage");
        var chatArea = document.querySelector("#chatArea");
        var signalingArea = document.querySelector("#signalingArea");
        // 채팅방의 이름 (원래는 유저가 채팅방 이름 선택해서 입장할 수 있게끔 설계하는 것이 일반적)
        var ROOM = "chat";
        var SIGNAL_ROOM = "signal";

        // ICE Server를 위한 configuration 선언
        var configuration = {
            'iceServers': [{
                'url': 'stun:stun.l.google.com:19302'
            }]
        };
        // Signaling Process에서 Event들을 trigger할 때 자주 사용되는 변수 선언
        var rtcPeerConn;


        // Socket.io Connection Setup

        // 1. connect to socket.io server
        io = io.connect();
        // 2. 채팅 룸, Signal Room에게 'ready'라는 message-type을 전달하는 것 - main.js route 참고
        io.emit('ready', {"chat_room": ROOM, "signal_room": SIGNAL_ROOM});

        // Send a first signaling message to anyone listening
        // This normally would be a button click
        io.emit('signal', {"type": "user_here", "message": "RU Ready for a CALL?", "room": SIGNAL_ROOM});
        io.on('signaling_message', function(data) {
            displaySignalMessage("Signal received: " + data.type)
        });


        // 3. 'announce' type message(server.js route)를 receive할 경우 (방에 입장)
        io.on('announce', function(data) {
            displayMessage(data.message);
        });

        // 4. 'message' type message(server.js route)를 receive할 경우 (빙에서 메시지 입)
        io.on('message', function(data) {
            displayMessage(data.author + ": " + data.message);
        });

        function displayMessage(message) {
            chatArea.innerHTML = chatArea.innerHTML + "<br/>" + message;
        };

        function displaySignalMessage(message) {
            signalingArea.innerHTML = signalingArea.innerHTML + "<br/>" + message;
        };

        sendMessage.addEventListener("click", function(e) {
            io.emit('send', {"author": myName.value, "message": myMessage.value, "room": ROOM});
            e.preventDefault();
        });





    	// getUserMedia를 통해, 새로운 video stream을 가져오는 함수
    	function startStream() {
    		var videoDeviceID = videoSelect.value
    		console.log(videoDeviceID)
	    	var constraints = {
	    		audio: false,
	    		// min, max or exact
	    		video: {
	    			width: { exact: 300 },
    				height: { exact: 525 },
    				deviceId: videoDeviceID ? { exact: videoDeviceID } : undefined
    			}
	    	};

	    	navigator.mediaDevices.getUserMedia(constraints)
	    	.then(function(stream) {
	    		// use the stream
	    		onSuccess(stream);
	    	})
	    	.catch(function(err) {
	    		// catch the error
	    		onError(err);
	    	})

    	}

    	function onSuccess(stream) {
    		console.log("Success! We have a stream!");
    		videoArea.srcObject = stream;
    		videoArea.className = "grayscale_filter";
    		videoArea.play();
    	}

    	function onError(error) {
    		console.log("Error with getUserMedia: ", error);
    	}

    </script>
  </body>
</html>

